/* .navlink a {    
    text-decoration: none;
}

.navlink a:link {
    color: #00aCe4;
}

.navlink a:visited {
    color: #00aCe4;
}

.navlink a:hover {
    color: #00aCe4;
}
.a {
    text-decoration: none;
    color: #00aCe4 !important;
}

a.blueLink:link {
    color: #00aCe4 !important;
}

a.blueLink:visited {
    color: #00aCe4 !important;
}

a.blueLink:hover {
    color: #00aCe4 !important;
} 
*/
